.project-card {

    border: 1px solid #0000000e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px;
    flex: 1 1 300px; 
}

.project-card img {
    width: 100%;
    transition: transform 0.3s ease;

}

.project-gallery {
    display: flex;

    gap: 20px;
    flex-wrap: wrap; 

}

body {
    background-color: rgba(118, 173, 175, 0.384);
    color: #456b13;
    font-family: Arial, Helvetica, sans-serif;
     
   
    
}

header {
    padding: 20px;
    margin-bottom: 30px;
    color: white;
    background-color: #456b13;
    text-align: center;
    grid-area: header;


}

main {
    
    padding: 20px;
    grid-area: main;
  


}

footer {

    background-color: #f9f9f9;
    padding: 10px;
    text-align: center;
    grid-area: footer;
    color: #456b13;
}

.container {
    max-width: 960px;
    margin: 0 auto;


}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header header"
     "main sidebar"
      "footer footer";
    height: 100vh;

    gap: 20px;


}

aside {
    background-color: #f9f9f9;
    padding: 20px;
    grid-area: sidebar;
    border: 1px solid;
    
}

form {
    max-width: 600px;
    margin: 0 auto;

}

input ,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
*, *:before, *::after {
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: lightgray;
    color: beige;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

}

nav a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: darkgrey;
}

.image-container {
    position: relative;
    overflow: hidden;
}
.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(from 0,0,0,0.7);
    color: darkgrey;
    opacity: 0;
    transition: opacity 0.3s ease;
    display:  flex;
    justify-content: center;

}
.image-container:hover .image-overlay {
    opacity: 1;
}

.image-container:hover img {
 transform: scale(1.1);

} 
 table {
    width: 100%;
    border-collapse: collapse;
 } 
 thead {
    background-color: #333;
    color: white;

 }
 th, td {
    padding: 10px;
    border: 1px solid;
 }
 tbody tr:nth-child(even) {
    background-color: whitesmoke;
 }